server:
  port: 8888
spring:
  config:
    import: file:.env[.properties]
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/lucianocaetano/config-repo
          default-label: main

