server:
  port: 80 
spring:
  config:
    import: file:.env[.properties]
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/my-personal-e-commerce-project/config-repo
          default-label: main

